// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

#wrapper-navbar {
  .header {
    padding: 1rem 15px;

    .logoCol{
      a.logoA {
        color:#333;
        h2 {
          font-size: 3rem;
          margin: 0;
        }
      }
      a.logoA:hover {
        text-decoration: none;
      }
    }
    .linksCol {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        a {
          color:#555;
          margin: 0 1rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1rem;
          padding: 3px 0;
          border-bottom: 1px solid #fff;
        }
        a:hover {
          text-decoration: none;
          border-bottom: 1px solid #555;
        }
      }
    }
  }
}

// HOME

.slider {
  // padding: 1rem 0;

  .colBlock {
    background: #232222;
  }

  .block {
    background: #222;
    height: 550px;
  }

  .colContent {
    background: #fff;
    margin-top: -210px;
    padding: 30px 45px;

    .content {
      h1 {
        margin-bottom: 1rem;
      }
      p {
        font-size: 24px;
      }
    }
  }
}

.box {
  background: #222222;
  height: 285px;
}

// contact

.contactIntro {
  padding: 2rem 0;

  .info {
    .details {
      padding: 2rem;
    }
  }
}

.contactForm {
  padding: 2rem 0;
}
