// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

#wrapper-navbar {
  .header {
    padding: 1rem 15px;

    .logoCol{
      a.logoA {
        color:#333;
        h2 {
          font-size: 3rem;
          margin: 0;
        }
      }
      a.logoA:hover {
        text-decoration: none;
      }
    }
    .linksCol {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        a {
          color:#555;
          padding: 0 1rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1rem;
        }
      }
    }
  }
}

// HOME

.slider {
  
}
